<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Indian Railway Enquiry</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Home</a></li>
      <li><a href="sass.html">Reserve Train</a></li>
      <li><a href="sass.html">Contact Us</a></li>
     
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Home</a></li>
      <li><a href="sass.html">Reserve Train</a></li>
      <li><a href="sass.html">Contact Us</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a routerLink="/trains">Trains</a></li>
      <li class="tab"><a routerLink="/fare">Fare</a></li>
      <li class="tab"><a routerLink="/pnr">PNR Status</a></li>
      <li class="tab"><a routerLink="/route">Route</a></li>
      <li class="tab"><a routerLink="/seat">Seat Avaliblity</a></li>
      <li class="tab"><a routerLink="/trainstation">Train Station</a></li>
      <li class="tab "><a routerLink="/stationlist">Station List</a></li>
      <li class="tab "><a routerLink="/canceltrain">Cancel Train</a></li>
      <li class="tab "><a routerLink="/coachcomposation">Coach Composation</a></li>
      <li class="tab "><a routerLink="/fullroute">Full Route</a></li>
      <li class="tab"><a routerLink="/livestatus">Live Status
      </a></li>
    </ul>
  </div>
</nav>
