<div class="row">
    <form class="col s12 head">
      <div class="row">
          <div class="input-field col s1"></div>
        <div class="input-field col s4">
          <i class="material-icons prefix">transfer_within_a_station
          </i>
          <input [(ngModel)] ="source" id="icon_prefix" name="source"list="sstation" (keyup)="sourcechange()"type="text" class="validate">
          <label for="icon_prefix">Source Station</label>
          <datalist id="sstation" >
              <option *ngFor="let s of arr" >{{s}}</option>
              
          </datalist>
        </div>
        <div class="input-field col s4">
          <i class="material-icons prefix">transfer_within_a_station</i>
          <input id="icon_telephone" type="tel" list="dstation" (keyup)="destonchange() "name="destination" [(ngModel)]="destination" class="validate">
          <label for="icon_telephone">Destination Station</label>
          <datalist id="dstation"  >
              <option *ngFor="let d of dest">{{d}}</option>
              
          </datalist>
        </div>
        <div class="col s2">
            <button class="btn waves-effect waves-light" type="submit" name="action"(click)="gettrains()" >Submit
           
            </button>
            </div>
        <div class="input-field col s1"></div>
      </div>
      
    </form>
  </div>
  